@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../../assets/icon-fonts/header-lower/fonts/icomoon.eot?nloaem");
  src: url("../../assets/icon-fonts/header-lower/fonts/icomoon.eot?nloaem#iefix") format("embedded-opentype"), url("../../assets/icon-fonts/header-lower/fonts/icomoon.ttf?nloaem") format("truetype"), url("../../assets/icon-fonts/header-lower/fonts/icomoon.woff?nloaem") format("woff"), url("../../assets/icon-fonts/header-lower/fonts/icomoon.svg?nloaem#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bar-graph:before {
  content: "\e900";
}

.icon-security:before {
  content: "\e901";
}

.icon-phone_in_talk:before {
  content: "\e902";
}

.icon-desktop:before {
  content: "\e903";
}

.icon-code:before {
  content: "\e904";
}

@font-face {
  font-family: "icomoon";
  src: url("../../assets/icon-fonts/arrow-rt/fonts/icomoon.eot?z7w9gk");
  src: url("../../assets/icon-fonts/arrow-rt/fonts/icomoon.eot?z7w9gk#iefix") format("embedded-opentype"), url("../../assets/icon-fonts/arrow-rt/fonts/icomoon.ttf?z7w9gk") format("truetype"), url("../../assets/icon-fonts/arrow-rt/fonts/icomoon.woff?z7w9gk") format("woff"), url("../../assets/icon-fonts/arrow-rt/fonts/icomoon.svg?z7w9gk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

@font-face {
  font-family: "icomoon";
  src: url("../../assets/icon-fonts/course-features/fonts/icomoon.eot?fa13rq");
  src: url("../../assets/icon-fonts/course-features/fonts/icomoon.eot?fa13rq#iefix") format("embedded-opentype"), url("../../assets/icon-fonts/course-features/fonts/icomoon.ttf?fa13rq") format("truetype"), url("../../assets/icon-fonts/course-features/fonts/icomoon.woff?fa13rq") format("woff"), url("../../assets/icon-fonts/course-features/fonts/icomoon.svg?fa13rq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-school:before {
  content: "\e900";
}

.icon-handshake-o:before {
  content: "\e903";
}

.icon-group:before {
  content: "\e904";
}

.icon-users:before {
  content: "\e904";
}

.icon-gbp:before {
  content: "\e905";
}

.icon-laptop:before {
  content: "\e901";
}

.icon-home3:before {
  content: "\e902";
}

@font-face {
  font-family: "icomoon";
  src: url("../assets/icon-fonts/social-media/icomoon.eot?f36ori");
  src: url("../assets/icon-fonts/social-media/icomoon.eot?f36ori#iefix") format("embedded-opentype"), url("../assets/icon-fonts/social-media/icomoon.ttf?f36ori") format("truetype"), url("../assets/icon-fonts/social-media/icomoon.woff?f36ori") format("woff"), url("../assets/icon-fonts/social-media/icomoon.svg?f36ori#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin:before {
  content: "\eac9";
}

@font-face {
  font-family: "icomoon";
  src: url("../../assets/icon-fonts/linkedin2/fonts/icomoon.eot?dth3ib");
  src: url("../../assets/icon-fonts/linkedin2/fonts/icomoon.eot?dth3ib#iefix") format("embedded-opentype"), url("../../assets/icon-fonts/linkedin2/fonts/icomoon.ttf?dth3ib") format("truetype"), url("../../assets/icon-fonts/linkedin2/fonts/icomoon.woff?dth3ib") format("woff"), url("../../assets/icon-fonts/linkedin2/fonts/icomoon.svg?dth3ib#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-linkedin2:before {
  content: "\eaca";
}

nav ul#header-lower-container {
  padding: 1.25rem;
  width: 75%;
  margin: auto;
  list-style-type: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1260px) {
  nav ul#header-lower-container {
    display: none;
  }
}
nav ul#header-lower-container li:nth-child(1) {
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  padding: 2rem auto;
}
nav ul#header-lower-container li:nth-child(1) * {
  text-align: center;
}
nav ul#header-lower-container li:nth-child(1) span:first-child {
  color: #67809f;
  font-size: 1.75rem;
}
nav ul#header-lower-container li:nth-child(1) small {
  font-size: 0.7rem;
}
nav ul#header-lower-container li:nth-child(1) span:last-child {
  font-size: 1.2rem;
}
nav ul#header-lower-container li:nth-child(2) {
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  padding: 2rem auto;
}
nav ul#header-lower-container li:nth-child(2) * {
  text-align: center;
}
nav ul#header-lower-container li:nth-child(2) span:first-child {
  color: #4183d7;
  font-size: 1.75rem;
}
nav ul#header-lower-container li:nth-child(2) small {
  font-size: 0.7rem;
}
nav ul#header-lower-container li:nth-child(2) span:last-child {
  font-size: 1.2rem;
}
nav ul#header-lower-container li:nth-child(3) {
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  padding: 2rem auto;
}
nav ul#header-lower-container li:nth-child(3) * {
  text-align: center;
}
nav ul#header-lower-container li:nth-child(3) span:first-child {
  color: #2ecc71;
  font-size: 1.75rem;
}
nav ul#header-lower-container li:nth-child(3) small {
  font-size: 0.7rem;
}
nav ul#header-lower-container li:nth-child(3) span:last-child {
  font-size: 1.2rem;
}
nav ul#header-lower-container li:nth-child(4) {
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  padding: 2rem auto;
}
nav ul#header-lower-container li:nth-child(4) * {
  text-align: center;
}
nav ul#header-lower-container li:nth-child(4) span:first-child {
  color: #d64541;
  font-size: 1.75rem;
}
nav ul#header-lower-container li:nth-child(4) small {
  font-size: 0.7rem;
}
nav ul#header-lower-container li:nth-child(4) span:last-child {
  font-size: 1.2rem;
}
nav ul#header-lower-container li:nth-child(5) {
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  padding: 2rem auto;
}
nav ul#header-lower-container li:nth-child(5) * {
  text-align: center;
}
nav ul#header-lower-container li:nth-child(5) span:first-child {
  color: #926fb1;
  font-size: 1.75rem;
}
nav ul#header-lower-container li:nth-child(5) small {
  font-size: 0.7rem;
}
nav ul#header-lower-container li:nth-child(5) span:last-child {
  font-size: 1.2rem;
}
nav ul#header-lower-container li:nth-child(6) {
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  padding: 2rem auto;
}
nav ul#header-lower-container li:nth-child(6) * {
  text-align: center;
}
nav ul#header-lower-container li:nth-child(6) span:first-child {
  color: #f62459;
  font-size: 1.75rem;
}
nav ul#header-lower-container li:nth-child(6) small {
  font-size: 0.7rem;
}
nav ul#header-lower-container li:nth-child(6) span:last-child {
  font-size: 1.2rem;
}
nav ul#header-lower-container li:nth-child(7) {
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  padding: 2rem auto;
}
nav ul#header-lower-container li:nth-child(7) * {
  text-align: center;
}
nav ul#header-lower-container li:nth-child(7) span:first-child {
  color: #ce4125;
  font-size: 1.75rem;
}
nav ul#header-lower-container li:nth-child(7) small {
  font-size: 0.7rem;
}
nav ul#header-lower-container li:nth-child(7) span:last-child {
  font-size: 1.2rem;
}

section#bootcamp-hero {
  background-image: url(../../../assets/images/skills-bootcamp-heroe.jpg);
  background-attachment: local;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
  margin-top: 0 auto;
}
section#bootcamp-hero div#bootcamp-hero-container {
  width: 87%;
  margin: auto;
}
section#bootcamp-hero div#bootcamp-hero-container h1, section#bootcamp-hero div#bootcamp-hero-container p {
  color: #fff;
}
section#bootcamp-hero div#bootcamp-hero-container h1 {
  font-size: 4.5rem;
  font-weight: 600;
}
section#bootcamp-hero div#bootcamp-hero-container p {
  font-size: 1.75rem;
  font-weight: 700;
}
section#bootcamp-hero div#bootcamp-hero-container a {
  display: inline-block;
  text-decoration: none;
  width: 13rem;
  height: 4.5rem;
  background-color: #4183d7;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}
section#bootcamp-hero div#bootcamp-hero-container a:hover {
  background-color: #2c75d2;
}
section#bootcamp-hero div#bootcamp-hero-container a span {
  display: inline-block;
  padding-top: 1.25rem;
}

section#launch-a-career {
  background-color: #fff;
  padding: 2rem 0 4rem;
}
section#launch-a-career div#launch-a-career-section-container {
  width: 87%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
section#launch-a-career div#launch-a-career-section-container div#no-experience-required {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 3rem 0 5rem;
}
@media screen and (min-width: 1020px) {
  section#launch-a-career div#launch-a-career-section-container div#no-experience-required {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}
section#launch-a-career div#launch-a-career-section-container div#no-experience-required div img {
  max-width: 90%;
  margin: auto;
}
section#launch-a-career div#launch-a-career-section-container h2 {
  color: #4183d7;
  font-size: 2.2rem;
  font-weight: 400;
}
section#launch-a-career div#launch-a-career-section-container p {
  font-size: 1.1rem;
  color: #555;
}
section#launch-a-career div#launch-a-career-section-container footer div#gvt-funding-info-link a {
  display: inline-block;
  text-decoration: none;
  width: 11rem;
  height: 2.5rem;
  background-color: #4183d7;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 0.8rem;
  margin-top: 1rem;
}
section#launch-a-career div#launch-a-career-section-container footer div#gvt-funding-info-link a:hover {
  background-color: #2c75d2;
}

section#work-from-home {
  background-color: #4183d7;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
section#work-from-home div#work-from-home-container {
  width: 87%;
  margin: 0 auto;
}
section#work-from-home div#work-from-home-container h2 {
  font-size: 2rem;
  font-weight: 500;
}
section#work-from-home div#work-from-home-container div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1020px) {
  section#work-from-home div#work-from-home-container div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 4rem;
  }
}
section#work-from-home div#work-from-home-container div p {
  font-size: 1.1rem;
}

section#course-features {
  padding: 2rem 0;
  background-color: #fff;
}
section#course-features > div {
  width: 87%;
  margin: auto;
  color: #555;
}
section#course-features > div h2, section#course-features > div h3 {
  color: #4183d7;
  font-weight: 500;
}
section#course-features > div h2 {
  font-size: 2rem;
}
section#course-features > div h3 {
  font-size: 1.7rem;
  position: relative;
}
section#course-features > div h3 span {
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}
section#course-features > div p {
  font-size: 1.1rem;
}
section#course-features > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}
@media screen and (min-width: 950px) {
  section#course-features > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
  }
}

section#graduates-review div {
  width: 87%;
  margin: auto;
  color: #fff;
}
section#graduates-review div h3 {
  font-size: 2rem;
  font-weight: 600;
}
section#graduates-review div div {
  margin: 0;
  padding: 0;
}
section#graduates-review div span.star {
  color: orange;
  font-size: 4rem;
}
section#graduates-review div p {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 600;
}
section#graduates-review div cite {
  color: #999aa2;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 600;
}

section#scion-scheme-application {
  background-color: #fff;
}
section#scion-scheme-application div#scion-scheme-application-container {
  width: 87%;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
@media screen and (min-width: 1020px) {
  section#scion-scheme-application div#scion-scheme-application-container {
    padding: 10% auto;
    flex-direction: row;
    column-gap: 3rem;
  }
}
section#scion-scheme-application div#scion-scheme-application-container div#course-application img {
  max-width: 100%;
  margin: 0;
  border-radius: 3px;
}
section#scion-scheme-application div#scion-scheme-application-container div#course-application h3 {
  color: #4183d7;
  font-weight: 400;
  font-size: 2rem;
}
section#scion-scheme-application div#scion-scheme-application-container div#course-application p {
  padding: 0.5rem 0;
  color: #555;
  font-size: 1.1rem;
}
section#scion-scheme-application div#scion-scheme-application-container div#course-application p a {
  text-decoration: none;
  color: #4183d7;
  font-weight: 600;
}
section#scion-scheme-application div#scion-scheme-application-container div#course-application a.btn-primary {
  display: block;
  text-decoration: none;
  width: 10rem;
  height: 2.25rem;
  background-color: #4183d7;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 300;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}
section#scion-scheme-application div#scion-scheme-application-container div#course-application a.btn-primary:hover {
  background-color: #2c75d2;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry {
  background-color: #e6e7e9;
  border-radius: 10px;
  padding: 30px;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry div#enquiry-form {
  display: flex;
  flex-direction: column;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry div#enquiry-form div.enquiry-form {
  margin-bottom: 1rem;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry div#enquiry-form div.enquiry-form label {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry div#enquiry-form div.enquiry-form label:after {
  content: " *";
  color: #d24d57;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry div#enquiry-form div.enquiry-form input {
  border: none;
  max-width: 80%;
  height: 47px;
  padding: 5px 15px;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry div#enquiry-form div.enquiry-form input:focus {
  box-shadow: inset 0 0 5px #5bc0de;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry div#enquiry-form div.enquiry-form textarea {
  max-width: 80%;
  height: 209px;
  padding: 5px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  font-size: 1rem;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer {
  width: 87%;
  margin: 1rem 0;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer div.signup-checkbox {
  float: left;
  width: 2rem;
  height: 2rem;
  border: 3px solid #333645;
  border-radius: 3px;
  text-align: center;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer div.signup-checkbox:hover {
  background-color: #333645;
  color: #fff;
  font-weight: bold;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer div.signup-checkbox:hover:after {
  content: "✔";
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer p {
  margin-left: 4rem;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer p, section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer small {
  font-weight: 600;
  color: #333645;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer a:link {
  text-decoration: underline;
  color: #000;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer a:visited {
  color: #000;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer div#enquiry-footer-info {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer div#enquiry-footer-info [type=submit] {
  text-decoration: none;
  width: 10rem;
  height: 3rem;
  background-color: #333645;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 300;
  font-size: 1.1rem;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer div#enquiry-footer-info [type=submit]:hover {
  background-color: #282b36;
}
section#scion-scheme-application div#scion-scheme-application-container div#bootcamp-enquiry footer#bootcamp-enquiry-footer div#enquiry-footer-info span::before {
  content: "*";
  color: #d24d57;
}

section#signup {
  background-color: #ddd;
  color: #333645;
  padding: 4rem 0;
}
section#signup div#signup-form-container {
  width: 87%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
section#signup div#signup-form-container div#signup-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
section#signup div#signup-form-container div#signup-form div.signup-form label:after {
  content: "*";
  color: #d24d57;
}
section#signup div#signup-form-container div#signup-form div.signup-form input {
  border: none;
  width: 100%;
  height: 47px;
  padding: 5px 15px;
}
section#signup div#signup-form-container div#signup-form div.signup-form input:focus {
  box-shadow: inset 0 0 5px #5bc0de;
}
@media (min-width: 1020px) {
  section#signup div#signup-form-container div#signup-form {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 4rem;
  }
  section#signup div#signup-form-container div#signup-form div.signup-form {
    width: 50%;
  }
}
section#signup h3 {
  font-size: 2rem;
  font-weight: 400;
}
section#signup label, section#signup p {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}
section#signup footer#signup-footer {
  width: 87%;
  margin: 1rem auto;
}
section#signup footer#signup-footer div.signup-checkbox {
  float: left;
  width: 2rem;
  height: 2rem;
  border: 3px solid #333645;
  border-radius: 3px;
  text-align: center;
}
section#signup footer#signup-footer div.signup-checkbox:hover {
  background-color: #333645;
  color: #fff;
  font-weight: bold;
}
section#signup footer#signup-footer div.signup-checkbox:hover:after {
  content: "✔";
}
section#signup footer#signup-footer p {
  margin-left: 4rem;
}
section#signup footer#signup-footer p a:link {
  text-decoration: underline;
  color: #000;
}
section#signup footer#signup-footer p a:visited {
  color: #000;
}
section#signup div#subscribe {
  width: 87%;
  margin: 4rem auto 0;
}
section#signup div#subscribe [type=submit] {
  text-decoration: none;
  width: 10rem;
  height: 3rem;
  background-color: #333645;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 300;
  font-size: 1.1rem;
}
section#signup div#subscribe [type=submit]:hover {
  background-color: #282b36;
}

section#footer-info {
  width: 87%;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: normal;
}
@media (min-width: 1200px) {
  section#footer-info {
    grid-template-columns: 1fr 2fr;
    column-gap: 8rem;
  }
  section#footer-info div#footer-menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}
section#footer-info figure {
  margin: 0;
}
section#footer-info h3 {
  text-transform: uppercase;
  font-weight: 300;
}
section#footer-info div#social-links {
  display: flex;
  column-gap: 0.6rem;
}
section#footer-info div#social-links a {
  display: inline-block;
  position: relative;
  background-color: #212330;
  color: #fff;
  width: 4.75rem;
  height: 3.8rem;
  padding: 1.5rem auto;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
}
section#footer-info div#social-links a.facebook:hover {
  background-color: #3b5998;
}
section#footer-info div#social-links a.linkedin:hover {
  background-color: #0077b5;
}
section#footer-info div#social-links a.twitter:hover {
  background-color: #00aced;
}
section#footer-info div#social-links a.instagram:hover {
  background-color: #d93175;
}
section#footer-info div#social-links a span {
  position: relative;
  top: 0.7rem;
}
@media (min-width: 800px) {
  section#footer-info div#footer-menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}
@media (min-width: 1400px) {
  section#footer-info div#footer-menu-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    column-gap: 4rem;
  }
}
section#footer-info div#footer-menu-container div.footer-menu h4 {
  font-weight: 300;
}
section#footer-info div#footer-menu-container div.footer-menu ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
}
section#footer-info div#footer-menu-container div.footer-menu ul li {
  line-height: 150%;
}
section#footer-info div#footer-menu-container div.footer-menu ul li a {
  text-decoration: none;
}
section#footer-info div#footer-menu-container div.footer-menu ul li a:link {
  color: #fff;
}
section#footer-info div#footer-menu-container div.footer-menu ul li a:hover {
  text-decoration: underline;
}

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE0tDMPKzSQ.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE0tMMPKzSQ.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE0tCMPI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1pVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1pVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1pVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21lVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21lVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21lVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLucXtAKPY.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLufntAKPY.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucXtAKPY.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTufntAKPY.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  box-sizing: border-box;
  background-color: #323544;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  letter-spacing: 0.4px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn-primary:hover {
  background-color: black;
}

footer#main-footer-container {
  background: #212330;
}
footer#main-footer-container #main-footer {
  background: #212330;
  width: 87%;
  margin: 0 auto;
  color: #fff;
  line-height: 1.375rem;
  font-stretch: ultra-expanded;
  letter-spacing: 0.025rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  footer#main-footer-container #main-footer {
    flex-direction: row;
  }
  footer#main-footer-container #main-footer p:nth-child(2)::before {
    content: " ";
  }
  footer#main-footer-container #main-footer p:last-child::before {
    content: "  -  ";
  }
}

/*# sourceMappingURL=application.css.map */
