@import 
    "icon-fonts/index",
    "partials/index"
;
*{
    box-sizing: border-box;
}
:root{
    background-color: $footer__info--bgcolor;
    font-family: $base--fontface;
    font-size: $base--fontsize;
    letter-spacing: .4px;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    //header
    header{
        background-color: $bg--dark;
    }
    //main-container
    div#main-container{
        background-color: $bg--dark;
        max-width: 100vw;
        margin: 0;
        padding: 0;
        header{
            background-color: $base--color;
        }
        // main footer
        footer#main-footer-container{
            background: $footer__icons--bgcolor;
            #main-footer{
                background: $footer__icons--bgcolor;
                width: 87%;
                margin: 0 auto;
                color: $base--color;
                line-height: 1.375rem;
                font-stretch: ultra-expanded;
                letter-spacing: .025rem;
                display: flex;
                flex-direction: column;
                @media (min-width: 769px){
                    flex-direction: row;
                    p:nth-child(2)::before{
                        content: $nbspace;
                    }
                    p:last-child::before{
                        content: "#{$nbspace} - #{$nbspace}"
                    }
                }
            }
        }
    }
}


