@import 
    "icon-fonts/index",
    "partials/index"
;

:root{
    box-sizing: border-box;
    background-color: $footer__info--bgcolor;
    font-family: $base--fontface;
    font-size: $base--fontsize;
    letter-spacing: .4px;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

//main
main{
    flex-grow: 1;
}

// main footer
footer#main-footer-container{
    background: $footer__icons--bgcolor;
    #main-footer{
        background: $footer__icons--bgcolor;
        width: 90%;
        margin: 0 auto;
        color: $base--color;
        line-height: 1.375rem;
        font-stretch: ultra-expanded;
        letter-spacing: .025rem;
        display: flex;
        flex-direction: column;
        @media (min-width: 769px){
            flex-direction: row;
            p:nth-child(2)::before{
                content: "\00A0"
            }
            p:last-child::before{
                content: "\00A0 - \00A0"
            }
        }
    }
}


