section#bootcamp-hero{
    //
    filter: invert(0);
    filter: brightness(100%);
    background: linear-gradient(270deg, transparent 25%, #000);
    //
    background-image: url(../../../assets/images/skills-bootcamp-heroe.jpg);
    background-attachment: local;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    margin-top: 0 auto;
    div#bootcamp-hero-container{
        width: 87%;
        margin: auto;
        h1, p{
            color: $base--color;
        }
        h1{
            font: {
                size: 4.5rem;
                weight: 600;
            }
        }
        p{
            font: {
                size: 1.75rem;
                weight: 700;
            }
            @media only screen and (min-width: 1235px){
                width: 60%;
            }
        }
        a{
            display: inline-block;
            @include link-button(13rem, 4.5rem, $bg--primary);
            font-weight: 400;
            font-size: 1.5rem;
            text-align: center;
            span{
                display: inline-block;
                padding-top: 1.25rem;
            }
        }
    }
}