section#course-features{
    padding: 2rem 0;
    background-color: $base--color;
    & > div{
        width: 87%;
        margin: auto;
        color: #555;
        h2, h3{
            color: $bg--primary;
            font-weight: 500;
        }
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.7rem;
            position: relative;
            span{
                margin-right: .5rem;
                position: relative;
                top: .1rem;
            }
        }
        p{
            font-size: 1.1rem;
        }
        &:nth-child(2){
            display: flex;
            flex-direction: column;
            margin: 1rem auto;
            @media screen and (min-width: 950px) {
                display: grid;
                grid-template-columns: repeat(3, minmax(350px, 1fr));
                grid-template-rows: 1fr 1fr;
                column-gap: 2rem;
            }
        }
    }
}