section{
    &#footer-info{
        display: flex;
        background-color: $footer__info--bgcolor;
        color: $base--color;
        font-family: $base--fontface;
        @media (max-width: 1020px){
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        figure{
            margin: 0;
        }
        h3{
            text-transform: uppercase;
        };

        // social links//
        div#social-links-container{
            margin: 1rem;
        }
        div#social-links a{
            display: inline-block;
            position: relative;
            background-color: #212330;
            color: $base--color;
            width: 100px;
            height: 55px;
            padding-top: .25 * $base--fontsize;
            text: {
                decoration: none;
                align: center;
            }
            font: {
                weight: lighter;
                size: 2 * $base--fontsize;
            };
            @include get-footer-icons-hover-bg(facebook);
            @include get-footer-icons-hover-bg(linkedin);
            @include get-footer-icons-hover-bg(twitter);
            @include get-footer-icons-hover-bg(instagram);
            span{
                position: relative;
                top: $base--fontsize;
            }
        };
        //footer-menu//
        div#footer-menu-container{
            @media (min-width: 768px){
                display: flex;
                flex-shrink: 0;
            }
            div.footer-menu{
                margin: 1rem;
                ul{
                    list-style-type: none;
                    list-style-position: outside;
                    padding-left: 0;
                    li{
                        line-height: 150%;
                    }
                };
            }
        }
    }
}