div#header-upper-container{
    background-color: $base--color;
    padding: 1rem 0;
    width: 87%;
    margin: auto;
    display: flex;
    flex-direction: column;
    div#small-screen-logo-and-contact-container{
        display: grid;
        grid-template-columns: 5fr 2fr;
        justify-content: space-between;
        div#logo-container{
            flex-shrink: 5;
        }
        div#contact{
            flex-shrink: 2;
            display: flex;
            justify-content: flex-end;
            column-gap: 2rem;
            //icons
            span{
                &:first-child{
                    color: $bg--dark;
                    font-size: 2rem;
                    padding-top: .75rem;
                }
                &:last-child{
                    color: $base--color;
                    background-color: $bg--dark;
                    font-size: 2.75rem;
                    font-weight: 100;
                    text-align: center;
                    height: 3.5rem; 
                    width: 4.5rem;
                    border-radius: 3px;
                    padding-top: .5rem;
                }  
            }
        }
    }
    div#search-field-container{
        position: relative;
        height: 3.5rem;
        input{
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 2px solid rgba(0,0,0,.1);
            outline: 1px solid hsla(0,0%,100%,.2);
            border-radius: 0 3px 3px 0;
            padding: 1rem;
            background: rgba(0, 0, 0, .1);
            color: lighte(#555, 75%);
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: .05rem;
        }
        span{
            display: block;
            box-sizing: border-box;
            width: 4.5rem;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.5rem;
            color: $bg--dark;
            text-align: center;
            padding-top: 1.2rem;
            border-radius: 0 3px 3px 0;
        }
    }
}