section#latest-news{
    background-color: $base--color;
    // main-container
    div#latest-news-main-container{
        width: 80%;
        margin: 0 auto;
        //headline
        div.headline{
            @include headline;
        }
        //latest news
        div#latest-news{
            padding: 2rem 0;
            @media only screen and (min-width: 695px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 2rem;
                div.med-screen-hidden{
                    display: none;
                }
            }
            @media only screen and (min-width: 950px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                gap: 2rem;
                div.med-screen-hidden{
                    display: block;
                }
            }
            
            *{
                box-sizing: border-box;
                color: $bg--dark;
            }
            //new item
            div.latest-news{
                border: .01px solid $service__border-color;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                padding: 0 0 3rem 0;
                margin: 2.5rem 0;
                img{
                    display: block;
                    max-width: 100%;
                    margin: auto;
                }
                //new item  body
                div.news-item-body{
                    width: 80%;
                    margin: auto;
                    h3{
                        a:link, a:visited{
                            text-decoration: none;
                            color: $web--design;
                            font-size: 1.4rem;
                            font-weight: 600;
                        }
                    }
                    p{
                        font-size: 1.1rem;
                        padding: .8rem 0;
                    }
                    button{
                        display: block;
                        @include link-button(11rem, 4rem, $web--design);
                        font-size: 1.25rem;
                    }
                    hr{
                        margin: 2.5rem 0;
                        border: .001px solid $service__border-color;
                    }
                    footer.latest-news-footer{
                        img{
                            float: left;
                        }
                        big, small{
                            display: block;
                            margin-left: 5rem;
                            font-size: 1.1rem;
                        }
                        big{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
                