section#launch-a-career{
    background-color: $base--color;
    padding: 2rem 0 4rem;
    div#launch-a-career-section-container{
        width: 87%;
        margin: auto;
        display: flex;
        flex-direction: column;
        div#no-experience-required{
            display: flex; 
            flex-direction: column;
            row-gap: 2rem;
            padding: 3rem 0 5rem;
            @media screen and (min-width: 1020px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 4rem;
                
            }
            div{
                img{
                    max-width: 90%;
                    margin: auto;
                }
            }
        }
        h2{
            color: $bg--primary;
            font-size: 2.2rem;
            font-weight: 400;
        }
        p{
            font-size: 1.1rem;
            color: #555;
        }
        footer{
            div#gvt-funding-info-link{
                a{
                    // margin: auto;
                    display: inline-block;
                    @include link-button(11rem, 2.5rem, $bg--primary);
                    font-weight: 400;
                    font-size: 1.2rem;
                    text-align: center;
                    padding-top: .8rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}