section#scion-scheme-application{
    background-color: $base--color;
    div#scion-scheme-application-container{
        width: 87%;
        margin: 0 auto;
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        @media screen and (min-width: 1020px){
            padding: 10% auto;
            flex-direction: row;
            column-gap: 3rem;
        }
        div#course-application{
            img{
                max-width: 100%;
                margin: 0;
                border-radius: 3px;
            }
            h3{
                color: $bg--primary;
                font-weight: 400;
                font-size: 2rem;
            }
            p{
                padding: .5rem 0;
                color: #555;
                font-size: 1.1rem;
                a{
                    text-decoration: none;
                    color: $bg--primary;
                    font-weight: 600;
                };
            }
            //apply now
            a.btn-primary{
                display: block;
                @include link-button(10rem, 2.25rem);
                font-weight: 300;
                font-size: 1.25rem;
                padding: 1rem 1.5rem;
            }
        }
        div#bootcamp-enquiry{
            background-color: #e6e7e9;
            border-radius: 10px;
            padding: 30px;
            div#enquiry-form{
                display: flex;
                flex-direction: column;
                div.enquiry-form{
                    margin-bottom: 1rem;
                    label{
                        display: block;
                        font-size: 1.25rem;
                        font-weight: 600;
                        margin-bottom: .4rem;
                        &:after{
                            content: " \002A";
                            color: $asterisk--color;
                        }
                    };
                    input{
                        border: none;
                        max-width: 80%; 
                        height: 47px;
                        padding: 5px 15px;
                        &:focus{    
                            box-shadow: inset 0 0 5px #5bc0de;
                        }
                    }
                    //enquiry message
                    textarea{
                        max-width: 80%; 
                        height: 209px; 
                        padding: 5px 15px;
                        border: 1px solid #e5e5e5;
                        border-radius: 2px;
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        color: #555;
                        font-size: 1rem;
                    }
                }
            }
            //signup footer
            footer#bootcamp-enquiry-footer{
                width: 87%;
                margin: 1rem 0;
                div.signup-checkbox{
                    float: left;
                    @include signup-checkbox;
                    text-align: center;
                    //temporary effect in lieu of click event
                    &:hover{
                        background-color: $signup__form--color;
                        color: $base--color;
                        font-weight: bold;
                        //checkmark
                        &:after{
                            content: "\2714";
                        }
                    }
                }
                p{
                    margin-left: 4rem;
                }
                p, small{
                    font-weight: 600;
                    color: $bg--dark;
                }
                a{
                    &:link{
                        text-decoration: underline;
                        color: #000;
                    }
                    &:visited{
                        color: #000;
                    }
                }
                div#enquiry-footer-info{
                    margin: 1rem auto;
                    display: flex;
                    justify-content: space-between;
                    [type=submit]{
                        @include link-button(10rem, 3rem, $bg--dark);
                        font-weight: 300;
                        font-size: 1.1rem;
                    }
                    span::before{
                        content: $asterisk;
                        color: $asterisk--color;
                    }
                }
            }
        }
    }
}