section#signup{
    background-color: $signup__form--bgcolor;
    color: $signup__form--color;
    padding: 4rem 0;
    div#signup-form-container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        div#signup-form{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            div.signup-form{
                label{
                    &:after{
                        content: " \002A";
                        color: $asterisk--color;
                    }
                };
                input{
                    border: none;
                    &:focus{    
                        box-shadow: inset 0 0 5px #5bc0de;
                    }
                }
            }
            @media (min-width: 1020px){
                flex-direction: row;
                justify-content: space-between;
                column-gap: 4rem;
                div.signup-form{
                    width: 50%;
                }
            }
        }
    }
    h3{
        font-size: 2.5rem;
        font-weight: 400;
    }
    label, p{
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
    }
    input{
        width: 100%;
        height: 47px;
        padding: 5px 15px;
    }
    //signup footer
    footer#signup-footer{
        width: 90%;
        margin: 1rem auto;
        div#signup-checkbox{
            float: left;
            @include signup-checkbox;
            text-align: center;
            //temporary effect in lieu of click event
            &:hover{
                background-color: $signup__form--color;
                color: $base--color;
                font-weight: bold;
                //checkmark
                &:after{
                    content: "\2714";
                }
            }
        }
        p{
            margin-left: 4rem;
            a{
                &:link{
                    text-decoration: underline;
                    color: #000;
                }
                &:visited{
                    color: #000;
                }
            }
        }
    }
}