section#signup{
    background-color: $signup__form--bgcolor;
    color: $signup__form--color;
    padding: 4rem 0;
    div#signup-form-container{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        div#signup-form{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            div.signup-form{
                label{
                    &:after{
                        content: $asterisk;
                        color: $asterisk--color;
                    }
                };
                input{
                    border: none;
                    width: 100%;
                    height: 47px;
                    padding: 5px 15px;
                    color: #555;
                    &:focus{    
                        outline: transparent solid;
                        outline: 0;
                        filter: drop-shadow(0 0 0.75rem rgba(3, 250, 250,.2))
                    }
                }
            }
            @media (min-width: 1020px){
                flex-direction: row;
                justify-content: space-between;
                column-gap: 4rem;
                div.signup-form{
                    width: 50%;
                }
            }
        }
    }
    h3{
        font-size: 2rem;
        font-weight: 400;
    }
    label, p{
        display: block;
        font-size: 1rem;
        font-weight: 600;
    }
    //signup footer
    footer#signup-footer{
        width: 80%;
        margin: 1rem auto;
        div.signup-checkbox{
            float: left;
            @include signup-checkbox;
            text-align: center;
            //temporary effect in lieu of click event
            &:hover{
                background-color: $signup__form--color;
                color: $base--color;
                font-weight: bold;
                //checkmark
                &:after{
                    content: $checkmark;
                }
            }
        }
        p{
            margin-left: 4rem;
            a{
                &:link{
                    text-decoration: underline;
                    color: #000;
                }
                &:visited{
                    color: #000;
                }
            }
        }
    }
    div#subscribe{
        width: 80%;
        margin: 4rem auto 0;
        [type=submit]{
            @include link-button(10rem, 3rem, $bg--dark);
            font-weight: 300;
            font-size: 1.1rem;
        }
    }
}