section#work-from-home{
    background-color: $bg--primary;
    color: $base--color;
    padding-top: 2rem;
    padding-bottom: 3rem;
    div#work-from-home-container{
        width: 87%;
        margin: 0 auto;
        h2{
            font-size: 2rem;
            font-weight: 500;
        }
        div{
            display: flex;
            flex-direction: column;
            // margin: 1rem auto;
            @media screen and (min-width: 1020px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 4rem;
            }
            p{
                font-size: 1.1rem;
            }
        }
    }
}